/ejemplos/Ejemplos07/nbproject/private/
/ejemplos/Ejemplos07/build/
/problematicas/Problema1/nbproject/private/
/problematicas/problema2/nbproject/private/
/problematicas/problema4/nbproject/private/
/problematicas/problema3/nbproject/private/
/problematicas/Problema1/build/
/problematicas/Problema1/dist/
/problematicas/problema4/build/
/problematicas/problema2/build/
/problematicas/problema3/build/
